{
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "amd": true,
    "es6": true
  },
  "rules": {
    "quotes": [ 1, "single" ],
    "no-undef": false,
    "global-strict": false,
    "no-extra-semi": 1,
    "no-underscore-dangle": false,
    "no-alert": "off",
    "no-array-constructor": "off",
    "no-bitwise": "off",
    "no-caller": "off",
    "no-case-declarations": "error",
    "no-catch-shadow": "off",
    "no-class-assign": "error",
    "no-cond-assign": "error",
    "no-confusing-arrow": "off",
    "no-console": "off"
  }
}
